<html>

<head>
  <!-- Material Design Bootstrap -->
  <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='common.css' )}}>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
  .container {
    min-height: 80vh;
    flex-direction: column;
  }

  .footer {
    margin-top: auto;
    background-color: #f8f9fa;
    padding: 10px;
  }

  #login-column {
    background-color: #f5f5f0;
  }

  #login-form {
    padding: 15px;
  }
</style>

<body>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">IP TRACER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3"
      aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/">首頁
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">我的收藏
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h3 class="text-center text-white pt-5">登入表單</h3>
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <form id="login-form" class="form" action="/login" method="post">
          <h3 class="text-center text-info">會員登入</h3>
          <div class="form-group">
            <label for="username" class="text-info">使用者名稱:</label><br>
            <input type="text" name="username" placeholder="限英文字母、數字 6-10碼" id="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="text-info">密碼:</label><br>
            <input type="text" name="password" placeholder="限英文字母、數字及*!@# 8-12碼" id="password" class="form-control">
          </div>
          <div class="form-group row" style="margin-top:25px;">
            <div class="col-sm-4">
              <input id="submit" type="submit" name="submit" class="btn btn-info" value="送出">
            </div>
            <div class="col-sm-8 text-right">還不是會員嗎？
              <a href="/register" class="text-info">申請帳號</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script type=text/javascript>
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 SUCCESS = "success"
 FAIL = "fail"
 const urlParams = new URLSearchParams(window.location.search);
 const nextParam = urlParams.get('next');
 console.log(nextParam)

 $(document).ready(function () {

  function switchLoadingStatus(status) {
        if (status == "start") {
            $("#submit").prop('disabled', true)
            $("#submit").val("登入中...")
        }
        else if (status == "end") {
            $("#submit").prop('disabled', false)
            $("#submit").val("送出")
        }
    }

    $('#login-form').submit(async function (event) {

      event.preventDefault();
     
      switchLoadingStatus("start")

      const formData =  {
        username: $('input[name="username"]').val(),
        password: $('input[name="password"]').val(),
        next:nextParam
      }

      let result = validateInputFormat(formData)
      if (!result[0]){
        Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: result[1],
            })
        switchLoadingStatus("end")
        return 
      }

      const action = $('#login-form').attr('action')
      result = await axios.post(action, formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
      })
      switchLoadingStatus("end")
      console.log(result)
      const data = result.data
      if (data.flag === FAIL){
        Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: data.msg,
          })
          return
      }

      // handle the redirect
      window.location.href = result.request.responseURL;
    });

    function validateInputFormat(formdata){
      console.log("validateInputFormat")
      if (formdata["username"] === ""){
        return [false,"使用者帳號不能為空 ~"]
      }
      if (formdata["password"] === ""){
        return [false,"使用者密碼不能為空 ~"]
      }
      return [true]
    }

});
</script>

</html>