<html>

<head>
  <!-- Material Design Bootstrap -->
  <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='common.css' )}}>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
  #login-column {
    background-color: #f5f5f0;
  }

  #login-form {
    padding: 15px;
  }
</style>

<body>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">IP TRACER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3"
      aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="/">首頁
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">我的收藏
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="register">
    <h3 class="text-center text-white pt-5">登入表單</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <form id="login-form" class="form" action="/register" method="post">
            <h3 class="text-center text-info">會員申請</h3>
            <div class="form-group">
              <label for="username" class="text-info">電子信箱:</label><br>
              <input type="text" name="email" placeholder="可收信的驗證信箱" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="username" class="text-info">使用者名稱:</label><br>
              <input type="text" name="username" placeholder="限英文字母、數字 6-12碼" id="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="text-info">密碼:</label><br>
              <input type="password" name="password" placeholder="限英文字母、數字及*!@# 8-12碼" id="password"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="text-info">密碼確認:</label><br>
              <input type="password" name="password2" placeholder="限英文字母、數字及*!@# 8-12碼" id="password2"
                class="form-control">
            </div>
            <div class="form-group row" style="margin-top:25px;">
              <div class="col-sm-4">
                <input id="submit" type="submit" name="submit" class="btn btn-info btn-md" value="送出">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script type=text/javascript>
 $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

 const validateEmail = (email) => {
      return String(email)
        .toLowerCase()
        .match(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };
 $(document).ready(function () {

  function validateInputFormat(formdata){
      console.log("validateInputFormat")

      if (!validateEmail(formdata["email"])){
        return [false,"電子信箱格式有誤~"]
      }

      if (formdata["username"].length <6 ||formdata["username"].length > 12  ){
        return [false,"使用者名稱長度必須介於 6 ~ 12"]
      }

      if (formdata["password"].length <8 ||formdata["password"].length >12 ){
        return [false,"使用者密碼長度必須介於 8 ~ 12"]
      }

      if (formdata["password"]!=formdata["password2"]){
        return [false,"密碼與確認密碼不一致"]
      }

      return [true]
    }

  function switchLoadingStatus(status) {
        // switch component of form before and after submiting
        console.log("switchLoadingStatus")
        if (status == "start") {

            $("#email").prop('disabled', true)
            $("#username").prop('disabled', true)
            $("#password").prop('disabled', true)
            $("#password2").prop('disabled', true)
            $("#submit").prop('disabled', true)
            $("#submit").val("申請中...")

        }
        else if (status == "end") {

            $("#email").prop('disabled', false)
            $("#username").prop('disabled', false)
            $("#password").prop('disabled', false)
            $("#password2").prop('disabled', false)
            $("#submit").prop('disabled', false)
            $("#submit").val("送出")

        }
    }

    $('#login-form').submit(async function (event) {

      // check formdata
      event.preventDefault();
      switchLoadingStatus("start")

      const formData =  {
        email: $('input[name="email"]').val(),
        username: $('input[name="username"]').val(),
        password: $('input[name="password"]').val(),
        password2: $('input[name="password2"]').val()
      }

      let result = validateInputFormat(formData)
      if (!result[0]){
        Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: result[1],
            })
        switchLoadingStatus("end")
        return 
      }

      // submit form
      const action = $('#login-form').attr('action')
      try {

        response = await axios.post(action, formData, {headers: {'Content-Type': 'multipart/form-data'} })
        const redirectUrl = response.request.responseURL;

        Swal.fire({
          text: `已寄出驗證連結至 ${formData.email}，請收信以完成申請流程噢 ~`,
          icon: 'success'

        }).then((result) => {
          // Check if the user clicked "OK"
          if (result.isConfirmed) {
              window.location.href = redirectUrl;
          }
        });
      } catch (error) {

        // Handle error
        console.log(error)
        Swal.fire({
            icon: 'error',
            title: error.response.data.error,
            text: error.response.data.message
          })

      } finally{

        switchLoadingStatus("end")

      }
      
  
    });

   

});
</script>

</html>